<a href="https://colab.research.google.com/github/Maradonas/Pos-Tech-FIAP/blob/main/MODULO1_PRODUCAO_HOPITALAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ANALISANDO DADOS DOS HOSPITAIS DO BRASIL

In [ ]:
import pandas as pd
df = pd.read_csv('/content/assets/Processamento.csv',encoding='ISO-8859-1',sep=';',skiprows=3 ,skipfooter=12 , thousands= '.', decimal= ',')

<ipython-input-1-0cb5b202ea67>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('/content/assets/Processamento.csv',encoding='ISO-8859-1',sep=';',skiprows=3 ,skipfooter=12 , thousands= '.', decimal= ',')

df = pd.read_csv(**'caminho do csv'**,** tipo de codificador **,sep=' **Separador**',skiprows= **pular linhas iniciais** ,skipfooter= **Pular linhas finais**)

**.Head()** imprime os 5 primeiros elementos do meu dataframe  *lembrar de Cabeca*

In [ ]:
df.head()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2024/Mai,2024/Jun,2024/Jul,2024/Ago,2024/Set,2024/Out,2024/Nov,2024/Dez,2025/Jan,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,14245430.08,13513718.18,15768573.38,14703987.50,14150716.10,13560840.74,9139104.31,6519383.53,2758684.28,1.560285e+09
1,12 Acre,-,-,-,-,-,-,-,-,-,...,4988565.96,5264769.94,5030037.73,5142268.22,4684727.01,4602457.27,3925559.35,1415201.09,-,6.466201e+08
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,23374512.69,22127422.45,23608720.40,24321472.24,23723027.50,23091729.84,18975268.18,15476800.24,6664235.65,2.888132e+09
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,3366624.22,3363751.20,3329894.41,2951150.34,2368791.93,1054670.97,787381.40,6307.79,-,4.899701e+08
4,15 Pará,-,-,-,-,-,-,-,-,-,...,56654098.57,52473874.98,55425739.44,53526292.16,57356780.09,58202601.03,47314110.27,35595477.64,14861885.10,6.983761e+09

**.Tail()** imprime os 5 ultimos elementos do meu dataframe      *lembrar de cauda*

In [ ]:
df.tail()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2024/Mai,2024/Jun,2024/Jul,2024/Ago,2024/Set,2024/Out,2024/Nov,2024/Dez,2025/Jan,Total
22,43 Rio Grande do Sul,-,-,-,-,-,-,-,-,-,...,1.152311e+08,1.271860e+08,1.380622e+08,1.334163e+08,1.265492e+08,1.324370e+08,1.035831e+08,74462448.83,35442563.64,1.824138e+10
23,50 Mato Grosso do Sul,-,-,-,-,-,-,-,-,-,...,2.793022e+07,2.738547e+07,2.896613e+07,2.752737e+07,2.754086e+07,2.574306e+07,1.818625e+07,12339588.67,3611400.51,3.553458e+09
24,51 Mato Grosso,-,-,-,-,-,-,-,-,-,...,2.797330e+07,2.711300e+07,2.986298e+07,2.830684e+07,2.699600e+07,2.685069e+07,2.056111e+07,15602957.81,8479123.04,3.308269e+09
25,52 Goiás,-,-,-,-,-,-,-,-,-,...,5.563283e+07,5.536826e+07,5.707735e+07,5.438573e+07,5.080843e+07,4.965224e+07,4.497304e+07,39851862.13,25809563.12,7.343471e+09
26,53 Distrito Federal,-,-,-,-,-,-,-,-,-,...,3.337316e+07,3.353000e+07,3.424263e+07,3.379127e+07,3.246980e+07,3.252801e+07,2.924500e+07,24483952.98,16764896.04,3.935843e+09

In [ ]:
df.mean(numeric_only=True)

2007/Ago    3.049528e+05
2007/Set    7.881453e+05
2007/Out    2.440163e+06
2007/Nov    5.517354e+06
2007/Dez    1.233716e+07
                ...
2024/Set    7.520958e+07
2024/Out    7.560491e+07
2024/Nov    6.258578e+07
2024/Dez    5.002287e+07
Total       9.460732e+09
Length: 210, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 333 entries, Unidade da Federação to Total
dtypes: float64(210), object(123)
memory usage: 70.4+ KB

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
df.mean(numeric_only=True)

2007/Ago         304,952.77
2007/Set         788,145.26
2007/Out       2,440,162.96
2007/Nov       5,517,354.05
2007/Dez      12,337,159.42
                 ...
2024/Set      75,209,576.23
2024/Out      75,604,913.79
2024/Nov      62,585,781.04
2024/Dez      50,022,867.39
Total      9,460,731,715.38
Length: 210, dtype: float64

In [ ]:
ultima_coluna = len(df)-2
df_ultima_coluna = df.iloc[ultima_coluna]
df_ultima_coluna

Unidade da Federação           52 Goiás
1992/Mar                              -
1992/Abr                              -
1993/Mai                              -
1993/Dez                              -
                             ...
2024/Out                  49,652,238.35
2024/Nov                  44,973,037.35
2024/Dez                  39,851,862.13
2025/Jan                    25809563.12
Total                  7,343,470,595.15
Name: 25, Length: 333, dtype: object

In [ ]:
df[df.columns[-1]].mean(numeric_only=True)

np.float64(9460731715.375555)